.App {
	text-align: center;
	
  }
  
  nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 2rem;
	background-color: #333;
  }
  
  nav li {
	margin-right: 0rem;
	
  }
  
  nav a {
	text-decoration: none;
	color: white;
	font-weight: bold;
  }
  
  .APP {
	padding: 2rem;
  }
  
  
  
  .name {
	padding: 2rem;
	display: flex;
	justify-content: flex-end; 
	background-color:slategrey;
  }
  
  .back-button {
	display: block;
	margin-top: 1rem;
  }

  .images {
	max-width: 300px;
	height: auto;
  }
  


  
  
  .img {
	padding: 2rem;
	background-color:slategrey;
  }
  
  .use{
	display: flex;
	flex-wrap: wrap;

	margin-top: 1rem;
  }
  
  
  
  .show {
	
	padding: 0.5rem;
  }
  
  .show img {
	max-width: 900px;
	height: 400px;
  }
  
  .show-image {
	transition: transform 10ms;
	

  }
  
  .show-image:hover {
	transform: scale(1.05);
  }
  .booking-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
  }
  
  .form-group {
	margin-bottom: 15px;
  }
  
  label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
  }
  
  input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
  }
  
  button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	top:'-540px';

  }
  
  